/* selector {property:value;} */


.cell{border: 1px solid red;}

header {background-color: rgb(17, 212, 212);
        }
h1 {display:inline;
    font-family: 'Chewy', cursive;
    color: #FFFFFF;
    }

nav {display:inline;}

nav ul {display:inline;}

nav li {display: inline;

        padding-top: 22px;
        float: right;

      }
.cs-spaceright {padding-right: 130px;}
.cs-spacerightend {padding-right: 150px;}


.footer {background-color: rgb(17, 212, 212);}

#indexpage


#portfoliopage


#aboutpage
